# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Node
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
*.pt
data/snapshots/
data/accident_frames/
data/logs/
data/videos/
